<div class="d-flex">
  <!-- Sidebar -->
  <nav id="sidebar" class="bg-light border-end vh-100 p-3" style="width: 300px;">

    <div class="d-flex justify-content-center mb-3">
    <span class="fs-5 fw-semibold text-dark">Computer Gaming</span>
    </div>


    <ul class="nav flex-column gap-1">
      <li class="nav-item">
        <a routerLink="/categories" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-dark">
          <i class="bi bi-tags-fill me-2"></i> Categorías
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/customers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-dark">
          <i class="bi bi-people-fill me-2"></i> Clientes
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-dark">
          <i class="bi bi-box-seam me-2"></i> Productos
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/sale-details" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-dark">
          <i class="bi bi-receipt-cutoff me-2"></i> Detalles de Venta
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/sales" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-dark">
          <i class="bi bi-cart-check-fill me-2"></i> Ventas
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/supplier-products" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-dark">
          <i class="bi bi-truck me-2"></i> Productos Proveedor
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/suppliers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-dark">
          <i class="bi bi-people me-2"></i> Proveedores
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-dark">
          <i class="bi bi-person-fill me-2"></i> Usuarios
        </a>
      </li>
    </ul>
  </nav>

  <!-- Main Content -->
  <main class="flex-grow-1 p-4 bg-white">
    <router-outlet></router-outlet>
  </main>
</div>
